.card-display {
    position: fixed;
    bottom: 50px;
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 columns */
    grid-auto-rows: auto;
    width: 73%;
    grid-gap: 15px;
}

.card-container {
    display: flex;
    position: relative;
}
  
  /* Define styles for the container underneath the grid */
  .page-controls {
    display: flex;
    position: fixed; /* Fix the position */
    bottom: 0; /* Stick to the bottom */
    width: 100%; /* Occupy full width */
    background-color: #f0f0f0;
    justify-content: center;
  }

#next-page{
    height: 50px;
}

.card-container img {
    max-width: 100%; /* Ensure images don't exceed container width */
    max-height: 100%; /* Ensure images don't exceed container height */

}

.bottom-half{
    display: flex;
    justify-content: center;
}

#card-image-0{
    grid-row: 1; 
    grid-column: 1;
}

#card-image-1{
    grid-row: 1; 
    grid-column: 2;
}

#card-image-2{
    grid-row: 1; 
    grid-column: 3;
}

#card-image-3{
    grid-row: 1; 
    grid-column: 4;
}

#card-image-4{
    grid-row: 1; 
    grid-column: 5;
}

#card-image-5{
    grid-row: 2; 
    grid-column: 1;
}

#card-image-6{
    grid-row: 2; 
    grid-column: 2;

}

#card-image-7{
    grid-row: 2; 
    grid-column: 3;
}

#card-image-8{
    grid-row: 2; 
    grid-column: 4;
}

#card-image-0{
    grid-row: 2; 
    grid-column: 5;
}



.card-container:hover .overlay {
    display: grid; 
    grid-template-columns: repeat(1, 1fr);  
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Cover the entire width of the card */
    height: 100%; /* Cover the entire height of the card */
    background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity as needed */
    color: white; /* Adjust text color as needed */
    display: none; /* Initially hidden */
    padding: 20px; /* Add padding for better readability */

    box-sizing: border-box; /* Ensure padding is included in width and height */
}

.overlay p {
    margin: 0; /* Remove default margin */
}

.overlay .set {
    position: absolute;
    top:0px;
    left: 0px;
    font-weight: 100;
    font-size: 50px;
}

.overlay .price {
    position: absolute;
    top:150px;
    right: 0px;
    font-weight: 100;
    font-size: 40px;
}
.overlay .qnt {
    position: absolute;
    bottom:0px;
    right: 0px;
    font-size: 35px;
    font-weight: 700;
}



